<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Informacje o użytkowniku</h5>
  <p>
    <strong>Nazwa:</strong> {{info.username}}<br/>
    <strong>Rola:</strong> {{info.authorities}}<br />
    <strong>Haslo:</strong> {{info.authorities}}<br />
  </p>
  <button class="btn btn-secondary" (click)="logout()">Wylouj</button>
  <br>
  <br>
  <button class="btn btn-secondary" data-toggle="modal" data-target="#changePassModal">Zmień Hasło</button>
</div>



<ng-template #loggedOut>
Zaloguj się lub zalóż konto...
</ng-template>


<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Zmiana Hasła użytkownika: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputPassword1">Stare Hasło:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="oldPass">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nowe Hasło:</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" [(ngModel)]="newPass">
        </div>
        <button type="button" class="btn btn-primary" (click)="changePass()">Potwierdź</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
